import 'package:flutter/material.dart';
import 'package:flutter_bloc/flutter_bloc.dart';

class {{className}}Bloc extends Bloc<{{className}}Event, BaseState> {
  {{className}}Bloc() : super(InitialState()) {
    on<InitEvent>((event, state) {});
  }
}
