import 'package:flutter/material.dart';
import 'package:flutter_bloc/flutter_bloc.dart';

class {{className}}Page extends StatelessWidget {
  @override
  Widget build(BuildContext context) {
    return BlocProvider(
      create: (BuildContext context) => {{className}}Bloc()..add(InitEvent()),
      child: Builder(builder: (context) => _buildPage(context)),
    );
  }

  Widget _buildPage(BuildContext context) {
    final bloc = BlocProvider.of<{{className}}Bloc>(context);

    return Scaffold(
      
    );
  }
}
